@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Thin.eot');
    src: url('../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Thin.woff') format('woff'),
    url('../fonts/Geometria-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ThinItalic.eot');
    src: url('../fonts/Geometria-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-ThinItalic.woff') format('woff'),
    url('../fonts/Geometria-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraLight.eot');
    src: url('../fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-ExtraLight.woff') format('woff'),
    url('../fonts/Geometria-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraLightItalic.eot');
    src: url('../fonts/Geometria-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-ExtraLightItalic.woff') format('woff'),
    url('../fonts/Geometria-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Light.eot');
    src: url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Light.woff') format('woff'),
    url('../fonts/Geometria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-LightItalic.eot');
    src: url('../fonts/Geometria-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-LightItalic.woff') format('woff'),
    url('../fonts/Geometria-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.eot');
    src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria.woff') format('woff'),
    url('../fonts/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Italic.eot');
    src: url('../fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Italic.woff') format('woff'),
    url('../fonts/Geometria-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.eot');
    src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Medium.woff') format('woff'),
    url('../fonts/Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-MediumItalic.eot');
    src: url('../fonts/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-MediumItalic.woff') format('woff'),
    url('../fonts/Geometria-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-BoldItalic.eot');
    src: url('../fonts/Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-BoldItalic.woff') format('woff'),
    url('../fonts/Geometria-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraBold.eot');
    src: url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-ExtraBold.woff') format('woff'),
    url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraBoldItalic.eot');
    src: url('../fonts/Geometria-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Geometria-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Heavy.eot');
    src: url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Heavy.woff') format('woff'),
    url('../fonts/Geometria-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-HeavyItalic.eot');
    src: url('../fonts/Geometria-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-HeavyItalic.woff') format('woff'),
    url('../fonts/Geometria-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'magistralc';
    src: url('../fonts/magistralc-bold-webfont.eot');
    src: url('../fonts/magistralc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/magistralc-bold-webfont.woff2') format('woff2'),
         url('../fonts/magistralc-bold-webfont.woff') format('woff'),
         url('../fonts/magistralc-bold-webfont.ttf') format('truetype'),
         url('../fonts/magistralc-bold-webfont.svg#magistralcbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'magistralc';
    src: url('../fonts/rzipsgcg-webfont.eot');
    src: url('../fonts/rzipsgcg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rzipsgcg-webfont.woff2') format('woff2'),
         url('../fonts/rzipsgcg-webfont.woff') format('woff'),
         url('../fonts/rzipsgcg-webfont.ttf') format('truetype'),
         url('../fonts/rzipsgcg-webfont.svg#magistralcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'magistralc', sans-serif;
    font-family: 'Geometria', sans-serif;
}
html {
    height: 100%;
    overflow: auto;
    outline: none;
    overflow-x: hidden;
}
body {
    background: #fff;
    color: #000;
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: underline;
}
.clear {
    clear: both;
    float: none;
    display: block;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1444px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    position: relative;
}

.header {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}
.header #logo {
    float: left;
    margin: 32px 0 0;
}
.header #logo img {
    display: block;
}
.header .menu_top {
    float: left;
    font-size: 0;
    list-style: none;
    margin: 46px 0 0 158px;
}
.header .menu_top li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 74px 0 0;
}
.header .menu_top li a {
    display: block;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    line-height: 20px;
}
.header .menu_top li a:hover {
    text-decoration: underline;
}
.header .menu_top li.disabled > a {
    opacity: .5;
}
.header .menu_top li.parent > a {
    background: url("../images/parent.png") no-repeat right center transparent;
    padding: 0 21px 0 0;
}
.header .menu_top li ul {
    display: none;
    position: absolute;
    z-index: 6;
    top: 20px;
    left: 0;
    width: 250px;
    box-sizing: border-box;
    background: rgba(0,0,0,.3);
    padding: 5px;
}
.header .menu_top li:hover ul {
    display: block;
}
.header .menu_top li ul li {
    display: block;
    margin: 2px;
    background: rgba(0,0,0,.5);
}
.header .menu_top li ul li a {
    text-transform: none;
    padding: 3px;
}
.header .menu_top li ul li a:hover {
    text-decoration: underline;
}
.header .lk_vhod {
    background: url("../images/lk_vhod.png") no-repeat 0 0 transparent;
    width: 21px;
    height: 24px;
    float: right;
    margin: 44px 11px 0 0;
}
.header .lk_vhod:hover {
    opacity: .7;
}
.block1 {
    background: url("../images/block1.jpg") no-repeat center top transparent;
    min-height: 100vh;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    padding: 615px 0 39px;
    text-align: center;
}
.block1 .text1 {
    font-family: 'magistralc', sans-serif;
    color: #fff;
    font-size: 55px;
    line-height: 65px;
    text-shadow: 10px -10px 20px rgba(131, 224, 255, 1), -10px -10px 20px rgba(131, 224, 255, 1), 10px 10px 20px rgba(131, 224, 255, 1), -10px 10px 20px rgba(131, 224, 255, 1);
}
.block1 .text2 {
    font-family: 'magistralc', sans-serif;
    color: #fff;
    font-size: 60px;
    line-height: 65px;
    text-transform: uppercase;
    margin: 8px 0 0;
}
.block1 .text2 span {
    text-shadow: 10px -10px 20px #9a83ff, -10px -10px 20px #9a83ff, 10px 10px 20px #9a83ff, -10px 10px 20px #9a83ff;
    font-family: 'magistralc', sans-serif;
}
.block1 .bl_btns {
    font-size: 0;
    margin: 19px 0 0;
    min-height: 54px;
}
.block1 .bl_btns .btn1 {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-image: -moz-linear-gradient( -2deg, rgba(41,156,254, .5) 0%, rgba(53,8,137, .5) 100%);
    background-image: -webkit-linear-gradient( -2deg, rgba(41,156,254, .5) 0%, rgba(53,8,137, .5) 100%);
    background-image: -ms-linear-gradient( -2deg, rgba(41,156,254, .5) 0%, rgba(53,8,137, .5) 100%);
    line-height: 54px;
    font-size: 14px;
    padding: 0 40px;
    border-radius: 35px;
    margin: 0 10px;
}
.block1 .bl_btns .btn1 img {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 3px 0 0;
}
.block1 .bl_btns .btn1:hover {
    background-image: -moz-linear-gradient( -2deg, rgba(53,8,137, .5) 0%, rgba(41,156,254, .5) 100%);
    background-image: -webkit-linear-gradient( -2deg, rgba(53,8,137, .5) 0%, rgba(41,156,254, .5) 100%);
    background-image: -ms-linear-gradient( -2deg, rgba(53,8,137, .5) 0%, rgba(41,156,254, .5) 100%);
}
.block1 .bl_btns .btn2 {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    line-height: 52px;
    font-size: 14px;
    padding: 0 40px;
    border-radius: 35px;
    border: 1px solid #299cfe;
    margin: 0 10px;
}
.block1 .bl_btns .btn2:hover {
    background-image: -moz-linear-gradient( -2deg, rgba(53,8,137, .5) 0%, rgba(41,156,254, .5) 100%);
    background-image: -webkit-linear-gradient( -2deg, rgba(53,8,137, .5) 0%, rgba(41,156,254, .5) 100%);
    background-image: -ms-linear-gradient( -2deg, rgba(53,8,137, .5) 0%, rgba(41,156,254, .5) 100%);
}
.block1 .text3 {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin: 34px 0 0;
}
.block1 .text4 {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    font-weight: 500;
    margin: 7px 0 0;
}
.block1 .text4 span {
    color: #43d14a;
}
.block1 .text4 span.krug {
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #43d14a;
    margin: -3px 2px 0 0;
}
.header .bl_login {
    float: right;
    color: #fff;
    text-align: center;
    text-decoration: none;
    position: relative;
    margin: 31px 24px 0 0;
    width: 70px;
    font-size: 12px;
    line-height: 16px;
}
.header .bl_login img {
    display: block;
    margin: 0 auto 3px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
}
.header .bl_login > span {
    position: absolute;
    background: url("../images/bl_login.png") no-repeat 0 0 transparent;
    width: 14px;
    height: 8px;
    top: 21px;
    right: -14px;
    cursor: pointer;
}
.header .login_vipad:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 5;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
    top: -14px;
    right: 44px;
}
.header .login_vipad {
    display: none;
    position: absolute;
    top: 115px;
    right: 0;
    z-index: 20;
    background: #fff;
    border-radius: 8px;
    width: 240px;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px 0px #000;
}
.header .login_vipad a {
    color: #161616;
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    margin: 4px 0;
}
.header .login_vipad a:hover {
    text-decoration: underline;
}
.header .login_vipad a span {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 15px;
    background: url("../images/like.png") no-repeat 0 0 transparent;
}
.header .login_vipad hr {
    display: block;
    border: none;
    width: 100%;
    height: 1px;
    background: #e3e3e3;
    margin: 8px 0;
}
.header .login_vipad a.logout {
    color: #afaeae;
}
.header .bl_mail {
    float: right;
    text-decoration: none;
    background: url("../images/bl_mail.png") no-repeat 0 0 transparent;
    width: 23px;
    height: 17px;
    position: relative;
    margin: 46px 27px 0 0;
}
.header .bl_mail:hover {
    opacity: .7;
}
.header .bl_mail span {
    position: absolute;
    color: #fff;
    background: #299bfd;
    line-height: 17px;
    padding: 0 5px;
    border-radius: 10px;
    top: -12px;
    right: -8px;
    font-size: 12px;
}
.opac {
    display: none;
    position: fixed;
    z-index: 33;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/opac.png") no-repeat 0 0 transparent;
    background-size: cover;
}
.okno {
    position: absolute;
    z-index: 35;
    width: 555px;
    left: 50%;
    margin: 0 0 0 -277px;
    background: url("../images/okno.png") no-repeat 0 0 transparent;
    top: 194px;
    background-size: cover;
    padding: 0 0 79px;
    display: none;
}
.okno > span {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    background: url("../images/close.png") no-repeat 0 0 transparent;
    top: 20px;
    right: 20px;
}
.okno > span:hover {
    opacity: .7;
}
.okno .zag {
    text-align: center;
    font-weight: 500;
    color: #15269c;
    font-size: 30px;
    line-height: 37px;
    padding: 37px 0 0;
}
.okno .podzag {
    text-align: center;
    font-size: 16px;
    margin: 6px 0 0;
    line-height: 31px;
}
.okno form {
    margin: 21px 54px 0;
}
.okno form label {
    display: block;
    font-size: 14px;
    line-height: 18px;
}
.okno form input:not([type="radio"]) {
    display: block;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #b2b2b2;
    background: #fff;
    margin: 9px 0 27px;
    height: 52px;
    padding: 0 21px;
    font-weight: 500;
    font-size: 16px;
}
.okno form button {
    float: left;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  background-image: -moz-linear-gradient( -2deg, rgb(41,156,254) 0%, rgb(53,8,137) 100%);
  background-image: -webkit-linear-gradient( -2deg, rgb(41,156,254) 0%, rgb(53,8,137) 100%);
  background-image: -ms-linear-gradient( -2deg, rgb(41,156,254) 0%, rgb(53,8,137) 100%);
    line-height: 54px;
    font-size: 14px;
    padding: 0 40px;
    border-radius: 35px;
    margin: 34px 0 0;
}
.okno form button img {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 3px 0 0;
}
.okno form button:hover {
  background-image: -moz-linear-gradient( -2deg, rgb(53,8,137) 0%, rgb(41,156,254) 100%);
  background-image: -webkit-linear-gradient( -2deg, rgb(53,8,137) 0%, rgb(41,156,254) 100%);
  background-image: -ms-linear-gradient( -2deg, rgb(53,8,137) 0%, rgb(41,156,254) 100%);
}
.okno .btn2 {
    float: right;
    font-weight: 500;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    color: #15269c;
    line-height: 52px;
    font-size: 14px;
    padding: 0 40px;
    border-radius: 35px;
    border: 1px solid #299cfe;
    margin: 34px 0 0;
}
.okno .btn2:hover {
  background-image: -moz-linear-gradient( -2deg, rgb(53,8,137) 0%, rgb(41,156,254) 100%);
  background-image: -webkit-linear-gradient( -2deg, rgb(53,8,137) 0%, rgb(41,156,254) 100%);
  background-image: -ms-linear-gradient( -2deg, rgb(53,8,137) 0%, rgb(41,156,254) 100%);
  color: #fff;
}
.okno form .zabil {
    float: right;
    font-size: 16px;
    text-decoration: underline;
    line-height: 20px;
    margin: -6px 0 0;
}
.okno form .zabil:hover {
    text-decoration: none;
}
.okno#okno2 {
    padding: 0 0 52px;
    background: url("../images/okno2.png") no-repeat 0 0 transparent;
    background-size: cover;
}
.okno form select {
    display: block;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #b2b2b2;
    background: #fff;
    margin: 9px 0 27px;
    height: 52px;
    padding: 0 21px;
    font-weight: 500;
    font-size: 16px;
}
.okno form .pol1 {
    float: left;
    width: 210px;
}
.okno form .pol1 + .pol1 {
    float: right;
}
.okno form .input__wrapper {}
.okno form label.check {
    float: left;
    margin: 10px 17px 22px 0;
    font-size: 16px;
}
.okno form label.check input {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #bdc0cb;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 0 7px 0 0;
}
.okno form .input__wrapper input {
    display: none;
}
.okno form .input__wrapper {}
.okno form .input__wrapper label {
    cursor: pointer;
    padding: 0 0 0 60px;
    margin: 0 0 17px;
    background: url("../images/file.png") no-repeat 0px 6px transparent;
}
.okno form .input__wrapper label p {
    font-size: 16px;
    line-height: 26px;
}
.okno form .input__wrapper label p b {
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.okno form .input__wrapper label span {
    display: block;
    color: #b2b2b2;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 3px 0 0;
}
.okno form .btn2.center {
    float: none;
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 36px auto 0;
    width: 254px;
    color: #fff;
    border: none;
    background-image: -moz-linear-gradient( -2deg, rgb(41,156,254) 0%, rgb(53,8,137) 100%);
  background-image: -webkit-linear-gradient( -2deg, rgb(41,156,254) 0%, rgb(53,8,137) 100%);
  background-image: -ms-linear-gradient( -2deg, rgb(41,156,254) 0%, rgb(53,8,137) 100%);
}
.okno .btns {
    text-align: center;
    font-size: 0;
    margin: 29px 0 0;
}
.okno .btn1 {
    float: left;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  background-image: -moz-linear-gradient( -2deg, rgb(41,156,254) 0%, rgb(53,8,137) 100%);
  background-image: -webkit-linear-gradient( -2deg, rgb(41,156,254) 0%, rgb(53,8,137) 100%);
  background-image: -ms-linear-gradient( -2deg, rgb(41,156,254) 0%, rgb(53,8,137) 100%);
    line-height: 54px;
    font-size: 14px;
    padding: 0 40px;
    border-radius: 35px;
    margin: 34px 0 0;
}
.okno .btn1:hover {
  background-image: -moz-linear-gradient( -2deg, rgb(53,8,137) 0%, rgb(41,156,254) 100%);
  background-image: -webkit-linear-gradient( -2deg, rgb(53,8,137) 0%, rgb(41,156,254) 100%);
  background-image: -ms-linear-gradient( -2deg, rgb(53,8,137) 0%, rgb(41,156,254) 100%);
}
.okno .btn1 img {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 3px 0 3px;
}
.okno#okno3 {
    margin: 0 0 0 -450px;
    width: 900px;
    background: url("../images/okno3.png") no-repeat 0 0 transparent;
    background-size: cover;
}
.okno#okno3 .zag {
    padding: 74px 0 0;
}
.okno#okno3 .podzag {
    margin: 20px 0 0;
}
.okno .btns .btn1,
.okno .btns .btn2 {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 11px;
}
.okno#okno4 {
    background: #fff;
    width: 780px;
    margin: 0 0 0 -390px;
}
.okno .spis_ucha {
    margin: 65px 43px 66px;
    font-size: 0;
    text-align: center;
}
.okno .spis_ucha .ucha {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-decoration: none;
    width: 100px;
    margin: 0 5px 21px;
}
.okno .spis_ucha .ucha .bl_img {
    width: 63px;
    height: 63px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
.okno .spis_ucha .ucha .bl_img > img {
    display: block;
    width: 100%;
}
.okno .spis_ucha .ucha .bl_img .soo {
    display: none;
    position: absolute;
    z-index: 7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(41, 155, 253, .8);
}
.okno .spis_ucha .ucha .bl_img .soo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.okno .spis_ucha .ucha p {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin: 2px 0 0;
}
.okno .spis_ucha .ucha:hover .bl_img .soo {
    display: block;
}
.okno .spis_ucha .ucha:hover p {
    color: #299bfd;
}
.okno#okno4 .zag {
    padding: 54px 0 0;
}
.okno#okno4 .podzag {}